<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>easyui1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetUsers</display-name>
    <servlet-name>GetUsers</servlet-name>
    <servlet-class>com.henry.servlet.GetUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsers</servlet-name>
    <url-pattern>/GetUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.henry.servlet.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.henry.servlet.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUser</display-name>
    <servlet-name>RemoveUser</servlet-name>
    <servlet-class>com.henry.servlet.RemoveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUser</servlet-name>
    <url-pattern>/RemoveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowForm</display-name>
    <servlet-name>ShowForm</servlet-name>
    <servlet-class>com.henry.servlet.ShowForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowForm</servlet-name>
    <url-pattern>/ShowForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopCart</display-name>
    <servlet-name>ShopCart</servlet-name>
    <servlet-class>com.henry.servlet.ShopCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopCart</servlet-name>
    <url-pattern>/ShopCart</url-pattern>
  </servlet-mapping>
</web-app>